* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: play;
  background: #f9f9f9;
  
}

.sign-in {
  max-width: 900px;
  margin-top: 25vh;
  margin-left: 43vw;
  margin-right: auto;
}

button {
  font-family: play;
  border-radius: 5px;
  background-color: rgb(114, 212, 135);
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(42, 189, 74);
}

.sign-in-header {
  margin-bottom: 3px;
}

.sign-in input {
  margin-bottom: 5px;
}

.site-control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, 40px);
  grid-template-areas: 
    "bar header header header"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"


  ;
}

.header-title {
  justify-content: center;
  margin-left:10px ;
}

.header-div {
  grid-area: header;
  display: flex;
  align-items: center;
  box-shadow: 2px 0px 5px 0px;
}

.header-div img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

.header-div button {
  margin-left: 20px;
}

.header-greeting {
  font-size: 16px;
  margin-left: 5px;
}

.utility-bar-div {
  grid-area: bar;
}

.utility-screen-div {
  grid-area: screen;
}

.utility-bar {
  width: 25vw;
  height: 100%;
  background: rgb(206, 206, 206);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.utility-bar h3 {
  text-align: center;
  margin-bottom: 10px;
}

.header-utility-screen div {
  display: block;
}

.contact-block {
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.2s;
  border-radius: 2px;
}

.contact-block:hover {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(187, 187, 187);
}

.contact-block:active {
  background: rgb(216, 216, 216);
  box-shadow: 0px 0px 1px 1px;
}

.contact-block p {
  margin-left: 1rem;
}


.contact-block img {
  height: 25px;
  width: auto;
  float: left;
  margin-left: 10px;
} 

.chat-div {
  height: 100%;
  width: 100%;
}

.input-block {
  text-align: center;
}

.input-block form button {
  margin-left: 10px;
}

.text-chat {
  margin: 20px;
}

.home-tab {
  height: 85%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
}


.home-tab:hover {
  border-radius: 20px;
  background-color: rgb(206, 206, 206);
}

.home-feed-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 20px;
}


