* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: play;
  background: #f9f9f9;
}

.sign-in {
  max-width: 900px;
  margin-top: 25vh;
  margin-left: 43vw;
  margin-right: auto;
}

.sign-in button {
  font-family: play;
  border-radius: 5px;
  background-color: rgb(114, 212, 135);
}

.sign-in button:hover {
  background-color: rgb(42, 189, 74);
}

.sign-in-header {
  margin-bottom: 3px;
}

.sign-in input {
  margin-bottom: 5px;
}

button {
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.site-control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, 50px);
  grid-template-areas: 
    "bar header header header"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"
    "bar screen screen screen"


  ;
}

/* .site-control div {
  display: inline-block;
} */

.header-inline {
  display: inline-block;
}

.header-div {
  grid-area: header;
}

.utility-bar-div {
  grid-area: bar;
}

.utility-screen-div {
  grid-area: screen;
}

.utility-bar {
  width: 25vw;
  height: 100vh;
  background: rgb(206, 206, 206);
}

.header-utility-screen div {
  display: block;
}

.contact-block {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 2px;
}

.contact-block:hover {
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  background: rgb(187, 187, 187);
}

.contact-block p {
  margin-top: 10px;
}